<div class="d-flex flex-column justify-content-between bg-light vh-100 p-4" style="width: 250px;">
  <!-- Branding -->
  <div class="text-center mb-4">
    <h5 class="fw-bold">
      <span class="border-start border-4 border-warning me-2"></span>UMS
    </h5>
  </div>


  <div class="text-center mb-4">
    <img
      src="./assets/pexels-photo-2379004 1.png"
      alt="Profile"
      class="rounded-circle img-fluid mb-2"
      style="width: 100px; height: 100px;"
    />
    <h6 class="fw-bold mb-0">Karthi Madesh</h6>
    <span class="text-warning">Admin</span>
  </div>

  <!-- Navigation Links -->
  <ul class="nav flex-column mb-auto">
    <li class="nav-item mb-2">
      <a class="nav-link text-dark d-flex align-items-center" routerLink="/home">
        <i class="bi bi-house-door me-2"></i> Home
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        class="nav-link active bg-warning text-white rounded d-flex align-items-center"
        routerLink="/users"
      >
        <i class="bi bi-bookmark me-2"></i> Users
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-dark d-flex align-items-center" routerLink="/add-user">
        <i class="bi bi-mortarboard me-2"></i> Add User
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-dark d-flex align-items-center" routerLink="/profile">
        <i class="bi bi-wallet2 me-2"></i> Profile
      </a>
    </li>
  </ul>


  <div class="text-center">
    <a class="text-dark d-flex align-items-center justify-content-center" (click)="_AuthServiceService.logout()"> Logout
                <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</div>
