.nav-link {
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link.active,
.nav-link:hover {
  background-color: #fbc02d;
  color: #fff;
}

img {
  object-fit: cover;
}

.bg-light {
  background-color: #fef8f0 !important; /* Beige Background */
}
